<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  
  <title>Employee Home page</title>
</head>
<body class="body">
  <div class="container">
    <div class="image-container">
      <p>
        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Similique delectus, veritatis, repellendus
         suscipit praesentium fugiat rem aspernatur totam,
          dolores architecto numquam. Iste minus nulla libero ad laborum officia eos perferendis!

      </p>
    </div>
    <div class="division">
      <ul class="box-info">
        <li>
          <i class="bx bxs-dollar-circle">
            <i class="bi bi-house"></i>
          </i>
          <span class="text">
            <h5><a class="nav-link" routerLink="/home" routerLinkActive="active">Home</a></h5>
            <p>Go to Home Page</p>
          </span>
        </li>
        <li>
          <i class="bx bxs-dollar-circle">
            <i class="bi bi-person-plus"></i>
          </i>
          <span class="text">
            <h5><a class="nav-link" routerLink="/add" routerLinkActive="active">+Add</a></h5>
            <p>Add Employee to DB</p>
          </span>
        </li>
        <li>
          <i class="bx bxs-dollar-circle">
            <i class="bi bi-people"></i>
          </i>
          <span class="text">
            <h5><a class="nav-link" routerLink="/view" routerLinkActive="active">View</a></h5>
            <p> Employees Of Company</p>
          </span>
        </li>
        <li>
          <i class="bx bxs-calendar-check">
            <i class="bi bi-folder-x"></i>
          </i>
          <span class="text">
            <h5><a class="nav-link" routerLink="/archives" routerLinkActive="active">Archives</a></h5>
            <p>View Ex-employees</p>
          </span>
        </li>
      </ul>
    </div>
  </div>
  
</body>
</html>