<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Home Page</title>
</head>
<body class="body">
 
<div class="container">
  <div class="jumbotron text-center mt-5">
    <h1 class="display-4">Welcome to HR Capital Management</h1>
    <p class="lead">Your one-stop solution for managing employees, recruitments, and trainings.</p>
    <hr class="my-4">
    
    <p>Efficient, Effective, and Easy to Use.</p>
    <a class="btn btn-outline-dark" href="#" role="button">Learn more</a>
  </div>

  <!-- Services Section -->
  <div class="row mt-2 text-center">
    <div class="col-md-4">
      <i class="bi bi-person-video3 display-1"></i>
      <h4>Training Programs</h4>
      <p>Offer and manage training programs to enhance employee skills.</p>
    </div>
    <div class="col-md-4">
      <i class="bi bi-people-fill display-1"></i>
      <h4>Employee Management</h4>
      <p>Manage your employees efficiently with our comprehensive tools.</p>
    </div>
    
    <div class="col-md-4">
      <i class="bi bi-emoji-smile display-1"></i>
      <h4>Recruitments</h4>
      <p>Encourage upcoming talents as well as professional skills with recruitment process </p>
    </div>
  </div>
</div>

</body>
</html>