<footer class="bg-light text-center text-lg-start mt-5">
  <div class="container p-5">
      <div class="row">
          <div class="col-lg-6 col-md-12 mb-4 mb-md-0">
              <h5 class="text-uppercase">HR Capital Management</h5>
              <p>Empowering businesses with top-notch HR solutions.</p>
          </div>
          <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
              <h5 class="text-uppercase">Follow Us</h5>
              <p class="follow-us">
                  <a href="https://facebook.com" target="_blank" class="text-dark">
                      <i class="bi bi-facebook"></i>
                  </a>
                  <a href="https://twitter.com" target="_blank" class="text-dark">
                      <i class="bi bi-twitter"></i>
                  </a>
                  <a href="https://instagram.com" target="_blank" class="text-dark">
                      <i class="bi bi-instagram"></i>
                  </a>
                  <a href="https://linkedin.com" target="_blank" class="text-dark">
                      <i class="bi bi-linkedin"></i>
                  </a>
              </p>
          </div>
          <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
              <h5 class="text-uppercase">Contact Us</h5>
              <ul class="list-unstyled mb-0">
                  <li><a href="#" class="text-dark">Email: info&#64;hrcapital.com</a></li>
                  <li><a href="#" class="text-dark">Phone: +123 456 7890</a></li>
              </ul>
          </div>
      </div>
  </div>
  
    <div class="text-center p-3 bg-dark text-light">
        © 2024 HR Capital Management. All Rights Reserved.
    </div>

</footer>
